.comment-box{
  display: flex;
  justify-content: center;
}

.comment-text{
  display: block;
  margin-top: 20px;
}

.comment-submit{
  display: block;
  border: none;
}

.comment{
  display: flex;
  justify-content: center;
}

.comment p{
   margin: 0;
}

.user-info{
  color: gray;
  font-weight: bold;
}

.comment-destroy {
  color: #7B3CFF;
  background-color: #fff;
  margin-left: 10px;
}

.comment-destroy:hover {
  color: #fff;
  background-color: #FF0000;
}

.comment-content {
  justify-content: center;
}