.other-images {
  margin-bottom: 20px;
}

.other-image {
  margin-bottom: 10px;
  justify-content: center;
}

.image-delete-button {
  text-align: center;
  border: solid 1px;
  cursor: pointer;
}

.main-image {
  margin-bottom: 10px;
}

.form-image {
  font-size: 20px;
  background-color: rgba(184, 125, 36, 0.185);
}