.preview{
  display: inline-block;
}


.image-delete-button {
  text-align: center;
  border: solid 1px;
  cursor: pointer;
  margin: 10px 0;
  width: 200px;
  text-align: center;
}

.preview-image {
  height: 200px;
  width: 300px;
}
