.preview{
  display: inline-block;
}

.image-delete-button {
  text-align: center;
  margin: 10px 50px;
  width: 200px;
  align-items: center;
  border-color: #dc3545;
  background-color: #dc3545;
  color: #fff;
  border-radius: 0.25rem;
}

.image-delete-button:hover {
  background-color: #e11429;
}

.preview-image {
  height: 200px;
  width: 300px;
}

