// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cover-user-show {
  padding-top: 120px;
  height: 100%;
  width: 100%;
  margin-bottom: 65px;
}

.one-post {
  text-align: center;
}

.cover-user-edit {
  padding-top: 120px;
  height: 100%;
  width: 100%;
  margin-bottom: 65px;
}